*, *::before, *::after {
    box-sizing: border-box;
}

body { 
    padding: 0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

.nav-container {
    width: 100%;
    margin: 0;
    padding: 2rem;
    background-color: #FFFFFF;
    color: #3B816F;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
}

.menu-buttons {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.menu-item:hover {
    color: #A16812;
}

a {
    color: #539382;
    text-decoration: none;
}

h1 {
    width: 75%;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 2rem;
    text-align: center;
}

h2 {
    width: 75%;
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

.portfolio {
    margin-top: 1.5rem;
    margin-bottom: 8rem;
    color: #307865;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

.project-list {
    width: 75%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.project-card {
    border-bottom: 0.2rem solid #EAA743;
}

article {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

img {
    width: 100%;
    height: auto;
}

.project-image {
    width: 100%;
}

.project-links {
    width: 100%;
    color: #539382;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    gap: 2rem;
}

.project-link:hover {
    color: #A16812;
}

.project-description {
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0.5rem 2rem 0.5rem;
    background-color: #EAA743;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    font-size: 1rem;
    color: #244C46;
}

.media-links {
    color: #244C46;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.media-links {
    color: #244C46;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media only screen and (min-width: 1000px) {
    .project-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project-card {
        width: 30%;
    }
}
