*, *::before, *::after {
  box-sizing: border-box;
}

body { 
	padding: 0;
}

img {
    width: 100%;
    height: auto;
}

/*Main navigation*/
.nav-container {
    width: 100%;
    margin: 0;
    padding: 2rem;
    background-color: #FFFFFF;
    color: #3B816F;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
}

.menu-buttons {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.menu-item {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

i {
    color: #3B816F
}

a {
    color: #3B816F;
    text-decoration: none;
}

/*Main image-logo*/
.logo {
    width: 90%;
    margin: 7rem 0 5rem;
}

/*Name + CV*/
.logo-name-cv {
    margin: 1.5rem 0 5rem;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    color: #3B816F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.name-cv {
    width: 90%;
}

h1 {
    margin: 0;
    padding-bottom: 2rem;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    color: #3B816F;
    display: flex;
}

#cv {
    text-align: center;
}

/*Footer*/
footer {
    width: 100%;
    margin: 0;
    padding: 0.5rem 2rem 0.5rem;
    background-color: #EAA743;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 0.5rem;
    color: #FFFFFF;
}

.media-links {
    color: #3B816F;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/*Media queries*/
@media only screen and (min-width: 1000px) {
    .logo {
        width: 45%;
        margin: 0;
    }
    .logo-name-cv {
        width: 90%;
        margin: 2rem auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .name-cv {
        display: flex;
        flex-direction: column;
    }
}
